@tailwind base;
@tailwind components;
@tailwind utilities;

body { @apply bg-gray-50; }

/* Glass UI effect */
.glass {
    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
